
@{
    ViewBag.Title = "Index";
}

<div class="mainDiv">

    <h2 class="hdr">Pi Security Cam</h2>
    <br /><br />

    <div class="liveFeedBtn">
        <a href="LiveFeed">View Live Feed</a>
    </div> <br /> <br />

    <div class="picBtn">
        <a href="TakePicture">Take Picture</a>
    </div> <br /> <br />

    <div class="logBtn">
        <a href="ViewLog">View Security Log</a>
    </div>

    <br /><br /><br /><br />
</div>