
@{
    ViewBag.Title = "ShowImage";
}

<div class="mainDiv">

    <h2>Image</h2>

    <img src="@Url.Content("~/Images/" + @ViewBag.FileName)" width="850" height="600" class="border">

    <br /> <br />

    <a href="ViewLog" class="goBkBtn">Go Back</a>

</div>