
@{
    ViewBag.Title = "TakePicture";
}

<div class="mainDiv">

    <h2>Picture Added to Database</h2>

    <img src="@Url.Content("~/Images/" + @ViewBag.FileName)" width="850" height="600" class="border"/> <br /> <br />

    <a href="Index" class="goBkBtn">Go Back Home</a>

</div>